name: build

on:
  pull_request:
    branches:
    - 'main'
  push:
    branches:
    - 'main'
  workflow_call: # to reuse this workflow by release.yml

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: [Debug, Release]
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        
    - name: arm-none-eabi-gcc
      uses: ryanwinter/arm-none-eabi-gcc@master
      with:
        release: '10.3-2021.10 ' # The arm-none-eabi-gcc release to use.
    
    - name: Install Ninja
      uses: seanmiddleditch/gha-setup-ninja@v3

    - name: Install gitpython
      run: pip install gitpython
      
    - name: Build binary
      run: |
          cmake -B build/${{ matrix.type }} -G Ninja -DCMAKE_C_COMPILER:FILEPATH=arm-none-eabi-gcc -DCMAKE_CXX_COMPILER:FILEPATH=arm-none-eabi-g++ -DCMAKE_BUILD_TYPE="${{ matrix.type }}"
          cmake --build build/${{ matrix.type }} --target Stepper-Locking-System_firmware

    - name: Rename and move build files 
      run : |
        mkdir build/artifacts
        mv build/${{ matrix.type }}/*.bin build/artifacts/firmware_${{ matrix.type }}.bin
        mv build/${{ matrix.type }}/*.elf build/artifacts/firmware_${{ matrix.type }}.elf

    - name: Upload build files
      uses: actions/upload-artifact@v3.1.1
      with:
        name: build-artifact
        path: ./build/artifacts/
        retention-days: 1
        if-no-files-found: error
