name: Create Release

on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build-project:
    uses: Netz39/Stepper-Locking-System_firmware/.github/workflows/build.yml@main

  create-release:
    runs-on: ubuntu-latest
    needs: build-project
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Extract the VERSION name
      id: get-version
      run: echo ::set-output name=VERSION::${GITHUB_REF#refs/tags/}

    - name: Retrieve build files
      uses: actions/download-artifact@v3.0.1
      with:
        name: build-artifact
        path: build/artifacts

    - name: Build Changelog
      id: github_release
      uses: mikepenz/release-changelog-builder-action@v3
      with:
        configurationJson: |
          {
            "template": "#{{CHANGELOG}}\n\n<details>\n<summary>Uncategorized</summary>\n\n#{{UNCATEGORIZED}}\n</details>",
            "categories": [
              {
                  "title": "## Changes",
                  "labels": ["other"]
              }
            ]
          }
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: "Create GitHub release"
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{ github.ref }}
        name: "${{ steps.get-version.outputs.VERSION }}"
        body:  ${{steps.github_release.outputs.changelog}}
        prerelease: ${{ startsWith(steps.get-version.outputs.VERSION, 'v0.') }}
        token: ${{ secrets.GITHUB_TOKEN }}
        files: |
          ./build/artifacts/*
